---
import '@styles/global.css';
import SEOHead from '@components/seo/SEOHead.astro';
import SchemaOrg from '@components/seo/SchemaOrg.astro';
import Header from '@components/layout/Header.astro';
import Footer from '@components/layout/Footer.astro';
import { generateOrganizationSchema, generateWebsiteSchema } from '@utils/schema';
import { type SEOProps } from '@data/seo-config';

interface Props extends SEOProps {
  schema?: object | object[];
}

const { schema, ...seoProps } = Astro.props;

const baseSchemas = [generateOrganizationSchema(), generateWebsiteSchema()];
const allSchemas = schema ? [...baseSchemas, ...(Array.isArray(schema) ? schema : [schema])] : baseSchemas;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Preconnect to external resources -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://www.googletagmanager.com" />

    <!-- Google Analytics -->
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-DY6D9DZM26"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-DY6D9DZM26');
    </script>

    <!-- Fonts - Optional: remove if using system fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <!-- SEO Meta Tags -->
    <SEOHead {...seoProps} />

    <!-- Schema.org -->
    <SchemaOrg schema={allSchemas} />

    <!-- RSS Feed -->
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml" />

    <!-- Sitemap -->
    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
  </head>

  <body class="min-h-screen flex flex-col">
    <Header />

    <main class="flex-grow">
      <slot />
    </main>

    <Footer />

  </body>
</html>
